requirements.txt
__pycache__/
Tokenizer.ipynb
Attention mechanism.ipynb
Attention mechanism-checkpoint.ipynb
.ipynb_checkpoints/Attention mechanism-checkpoint.ipynb
LLM Architecture.ipynb
.ipynb_checkpoints
LLM Loss function-checkpoint.ipynb
LLM Loss function.ipynb
tinystories.py
LLM Pretraining.ipynb
the-verdict.txt
data/*.bin
checkpoints/*.pt
best.pt
latest.pt
quick_1m_best_model.pt
quick_1m_training_history.json
tinystories_25m_best_model.pt
tinystories_25m_training_history.json
tinystories_100m_best_model.pt
tinystories_100m_training_history.json